@media screen and (min-width: 576px) and (max-width: 960px){
    header {
        width: 100%;
        padding: 0;
    }
    .nav-container {
       flex-direction: column;
    }
    .camera-section {
        flex-direction: column;
      
      }
      .camera-photo, .camera-photo img{
        width: 100%;
    
    }
    .camera-photo{
        background-repeat: no-repeat;
        background-position: right;
    }
    body{
        margin: 0 auto ;
    }
    main{
        margin: 0 auto;
    }
    .client-company {
      justify-content: space-between;
        /* gap: 25px; */
    }
    .popula-section {
        
        grid-template-columns:  1fr 1fr;
    }
    .featured-products {
        flex-direction: column;
    }
    .featured-products-img img{
        width: 100%;
    }
    .featured-products-content p {
        width: 100%;
        height: 100%;
     
    }
}